@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito{
  font-family: "Nunito Sans", sans-serif;
  }
  .font-poiret {
    font-family: "Poiret One", sans-serif;

  }
  

  ::-webkit-scrollbar{
    display: none;
  }
  *{
    scrollbar-width: none;
  }